class: center, middle, main-title

# {{ title }}

By FaustoC

---

class: center, middle, subtitle-1

# Secondary heading 1

---

class: center, middle, subtitle-2

# Secondary heading 2

---

class: center, middle, subtitle-3

# Secondary heading 3
