@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

$font-family-content: 'Droid Serif';
$font-family-title: 'Yanone Kaffeesatz';
$font-family-code: 'Ubuntu Mono';

body {
  font-family: $font-family-content;
}

h1, h2, h3 {
  font-family: $font-family-title;
  font-weight: normal;

}

.remark-code, .remark-inline-code { font-family: $font-family-code;  }
